.wrapper{
    position: fixed;
    max-height: 1200px;
    max-width: 1200px;
    min-height: 1200px;
    max-width: 1200px;
    text-align: center;
    align-items: center;
}
.header {
    position: absolute;
    width: 200px;
    text-align: center;
    left: 600px;
    margin-left: -100px;
    
}

#player1Score{
    position: absolute;
    left: 400px;
    height: 100px;
    margin: 0 auto;
    top: 250px;
    width: 150px;
    text-align: center;
    margin-left: -75px;  
}
#p1Score{
    position: absolute;
    left: 400px;
    width: 100px;
    margin-left: -50px;
    top: 260px;
}
#p2Key{
    position: absolute;
    left: 800px;
    height: 100px;
    width: 150px;
    margin: 0 auto;
    top: 220px;
    text-align: center;
    margin-left: -75px;
}
#player2Score{
    position: absolute;
    left: 800px;
    height: 100px;
    width: 150px;
    margin: 0 auto;
    top: 250px;
    text-align: center;
    margin-left: -75px; 
}
#p2Score{
    position: absolute;
    left: 800px;
    width: 100px;
    margin-left: -50px;
    top: 260px;
}
.countDown{
    position: absolute;
    height: 101px;
    left: 600px;
    width: 200px;
    top: 400px;
    margin-left: -100px;
}
.tapOfWarData{
    align-items: center;
}
#tapOfWarData {
    position: absolute;
    width: 100px;
    height: 150px;
    background-color: red;
    top: 500px;
    left: 600px;
    margin-left: -50px;
}
.tapOfWarBar{
    align-items: center;
}
#tapOfWarBar{
    position: absolute;
    width: 800px;
    height: 148px;
    top: 500px;
    left: 600px;
    background-color: white;
    border: 2px black solid;
    z-index: -10;
    margin-left: -400px;
}
.zones{
    position: absolute;
    width:0px;
    height: 150px;
    top: 500px;
    border: 1px black solid;
    background-color: black;
}
#leftZone{
    left: 300px;
}
#rightZone{
    left: 900px;
}


