.wrapper{
    position: relative;
}
.header {
    width: 200px;;
    margin: 0 auto;
    text-align: center;
}
.score{
    position: relative;
    top: 50%;
    text-align: center;
}
#player1Score{
    position: absolute;
    left: 25%;
    top: 75%;
    height: 100px;
    padding-top: 15%
}
#player2Score{
    position: absolute;
    right: 25%;
    top: 75%;
    height: 100px;
    padding-top: 15%; 
}
.countDown{
    height: 101px;
    padding-top: 25%;
    align-self: center;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.tapOfWarData{
    align-items: center;
}
#tapOfWarData {
    position: absolute;
    width: 100px;
    height: 150px;
    background-color: red;
    top:100%;
    left:50%;
    margin-left: -50px;
}
.tapOfWarBar{
    align-items: center;
}
#tapOfWarBar{
    position: absolute;
    width: 800px;
    height: 148px;
    top: 100%;
    left: 50%;
    background-color: white;
    border: 2px black solid;
    z-index: -10;
    margin-left: -400px;
}
.zones{
    position: absolute;
    width:0px;
    height: 150px;
    top: 100%;
    border: 1px black solid;
    background-color: black;
}
#leftZone{
    left: 25%;
}
#rightZone{
    left: 75%;
}

